### Capstone Two Project: Analysis and Prediction of Length of Stay (LOS) in Hospital

The Covid-19 Pandemic raised up challenges in healthcare and hospital management due to increase in hospitalization and length of stays (LOS) in hospitals. The data from patient length of stay is one critical parameter to observe and predict if one wants to improve the efficiency of the healthcare management in a hospital.  In this project, the dataset retrieved from Kaggle's public datasets, is used to perform a detailed exploratory data analysis (EDA) to make better sense of the data. The EDA process will help us to find patterns, relationships, or anomalies to inform our subsequent analysis. There are various ways to perform EDA, and we will explore some of them using various python libraries.
The hospital stays and its correlation with the type of patient will be used to extract/find useful relationships that can be used to identify patients of high LOS risk (patients who will stay longer) at the time of admission. Once identified, patients with high LOS risk can have their treatment plan optimized to minimize LOS and lower the chance of staff/visitor infection. Also, prior knowledge of LOS can aid in logistics such as room and bed allocation planning.

In [3]:
import os
import pandas as pd

In [6]:
df= pd.read_csv('insurance.csv')
print(df)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
df2= df.set_index('region').groupby('region').mean()
print(df2.charges)
regional_data = df2.charges

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [16]:
df3= df.set_index('sex').groupby('sex').mean()
print(df3.charges)
sex_data = df3.charges

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [20]:
df4= df.set_index('smoker').groupby('smoker').mean()
print(df4.charges)
smoker_data = df4.charges

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [21]:
df5= df.set_index('children').groupby('children').mean()
print(df5.charges)
children_data = df5.charges

children
0    12365.975602
1    12731.171832
2    15073.563734
3    15355.318367
4    13850.656311
5     8786.035247
Name: charges, dtype: float64

In [22]:
df6= df.set_index('bmi').groupby('bmi').mean()
print(df6.charges)
bmi_data = df6.charges

bmi
15.960     1694.796400
16.815     4904.000350
17.195    14455.644050
17.290     7813.353433
17.385     2775.192150
              ...
48.070     9432.925300
49.060    11381.325400
50.380     2438.055200
52.580    44501.398200
53.130     1163.462700
Name: charges, Length: 548, dtype: float64